<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>layout布局</title>
	<link rel="stylesheet" type="text/css" href="/static/css/highlight/github.css">
	<link rel="stylesheet" type="text/css" href="/static/css/markdown.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owller.css">
</head>
<body>
	<owl-layout childrenlayout="h">
		<owl-layout width="250px">
			<owl-nav itemlist="nav" dir="v" onlyone></owl-nav>
		</owl-layout>
		<owl-layout width="calc(100% - 250px)" style="padding: 30px;height: 100%;overflow-y: scroll;">
			<div class="markdown-body">

			</div>
		</owl-layout>
	</owl-layout>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="/static/js/highlight.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/owller.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        getMarkdown('Layout')
	});
</script>
</html>